<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>Redmine-Appender</contextName>
    <property name="LOG_HOME" value="logs"/>
    <property name="CHARSET" value="UTF-8"/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/myLog.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="HTTP" class="tw.kewang.logback.appender.RedmineAppender">
        <url>http://example.com</url>
        <apiKey>abcdef1234567890</apiKey>
        <projectId>5566</projectId>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="HTTP"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>